body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: black;
  }
  
  input, button {
    margin-bottom: 10px;
  }
  
  button {
    padding: 8px 15px;
    cursor: pointer;
    background-color: khaki;
  }
  h1, hr, label, p{
    color: white;
  }